{
  "extends": "airbnb",
  "rules": {
    "react/react-in-jsx-scope": ["off"],
    "react/no-unknown-property": ["off"],
    "react/jsx-filename-extension": ["off"],
    "jsx-a11y/alt-text": ["off"],
    "jsx-a11y/accessible-emoji": ["off"],
    "no-bitwise": ["off"],
    "max-len": ["error", 80],
    "no-console": ["error", {
      allow: ["info", "warn", "error"]
    }],
    "no-param-reassign": ["error", {
      "props": false
    }]
  },
}
