{
  "extends": ["airbnb", "prettier"],
  "rules": {
    "react/prop-types": ["off"],
    "react/style-prop-object": ["off"],
    "react/react-in-jsx-scope": ["off"],
    "react/no-unknown-property": ["off"],
    "react/jsx-filename-extension": ["off"],
    "jsx-a11y/alt-text": ["off"],
    "jsx-a11y/accessible-emoji": ["off"],
    "no-bitwise": ["off"],
    "arrow-parens": ["error", "as-needed"],
    "no-return-assign": ["error", "except-parens"],
    "no-console": ["error", { "allow": ["info", "warn", "error"] }],
    "no-param-reassign": ["error", { "props": false }]
  }
}
