# General files
*~
.DS_Store

# Build files
build.json

# Build directories
node_modules/
releases/
qello/
out/

## Build generated
tvos/DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
tvos/build/

# Carthage
tvos/Carthage/Checkouts/
tvos/Carthage/Build/
